<div id="slash">
	<a href="#" class="btn btn-info" role="button">Sign in</a>
	<p>or</p>
	<a href="#" class="btn btn-info" role="button">Sign up</a>
</div>

<div id="about_thebonafideclub">
	<h3>About Bonafide club</h3>

	<p>ksjhdfkjsdhkfjs  skjfh sdfhk sdhks dkjhsdk jhsdk fkjsdhfksdhk jdskjfh skjdf ksjdhf kjsdh fkj dskj sdkjh sdkfh ksdjfhkjsd kjsdhf ksd fkhsdkjdskhsdkjh fkdsfhksdf  kshd ku</p>
</div>

<div id="clear_div">
</div>


<div id="footer">
	<p>This is a footer</p>
	<p>Check out our facebook</p>
	<p>Check out our instagram</p>
	<p>Check out our github</p>
</div>
