<% if !@_current_user %>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>The Bona fide Club is a dating app that cuts out the bullsh*t in your life </h1>
                            <center>
                            <div class="row">
                            <p><a href="/sessions/new" class="btn btn-info" role="button">Sign In</a> 
                                   &nbsp;or&nbsp;   
                                   <a href="/users/new" class="btn btn-info" role="button">Sign Up</a></p>
                                   </div>
                                </center>
  
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </header>

    <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Discover the buzz about <em>The Bona fide Club</em></h2>
                    <p>Try our dating app today</p>
                   
                </div>
            </div>
        </div>
    </section>


    <section class="cta">
        <center>
        <div class="cta-content">
            <div class="container">
                <h2>Stop waiting. Find your special person today.</h2>
                <a href="#contact" class="btn btn-outline btn-xl page-scroll">Let's Get Started!</a>
            </div>
        </div>
        <div class="overlay"></div>
        </center>
    </section>

    <section id="contact" class="contact bg-primary">
        <div class="container">
            <h2>We <i class="fa fa-heart"></i> new friends!</h2>
            <ul class="list-inline list-social">
                <li class="social-twitter">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-facebook">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-google-plus">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
            </ul>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2016 The Bona fide Club. All Rights Reserved.</p>
            <ul class="list-inline">
                <li>
                    <a href="#">Privacy</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </footer>
<% else %>
<br>
<br>


<div style="background-color: snow;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="header-content">
                        <div class="">
            
                            <center>
                                <h1>Swipe your heart out</h1>
                           
                            <img src="http://themepack.me/i/c/749x468/media/g/670/hot-girl-theme-bq17.jpg">
                            <br>
                            <div>
                                <a href="/users/new" role="button"><span class="red fa fa-times-circle fa-5x"></span></a>

                                &nbsp;&nbsp;&nbsp;
                                <a href="/users/new" role="button"><span class="green fa fa-gratipay fa-5x"></span></a>
                            </div>
                        </center>

                        </div>
                    </div>
                </div>
            
            </div>
        </div><br>
<br>
<br>
<br><br>
<br>


    </div>


<% end %>
